html {
    font-size: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #333333;
    width: 100%;
    height: 4rem;
    font-size: 2rem;
}

header a {
    color: white;
}

.box {
    margin: 0.7rem 0.5rem 0 29rem;
    padding: 0rem 0rem 0.6rem 0.7rem;
    display: inline;
    word-spacing: 2.5rem;
    border-bottom: 0.2rem solid orangered;
}

.boxright {
    height: 3.2rem;
    padding-right: 1rem;
    margin: 0.5rem 30rem 0 0;
    word-spacing: 3rem;
    display: inline;
    float: right;
    border-bottom: .3rem solid orangered;
}

a {
    text-decoration: none;
    color: black;
}

.company {
    position: relative;
    bottom: 1.1rem;
    color: orangered;
    display: inline;
    min-height: fit-content;
    padding-left: 30rem;
    font-size: 2.5rem;
}

.navigation {
    display: inline;
    height: 8rem;
    width: 100%;
}

.nav1 {
    display: inline;
    background-color: white;
    width: 100%;
    height: 7rem;
    font-size: 2rem;
    word-spacing: 5rem;
    padding: 0 10rem 0 8rem;
    text-align: center;
}

.navele {
    display: inline-block
}

.right {
    display: inline;
    right: 10rem;
    position: relative;
    bottom: 1.1rem;
    border: 0.2rem solid orangered;
    color: orangered;
    font-size: 2.5rem;
    height: fit-content;
}

.slider {
    filter: contrast(30%);
    filter: brightness(30%);
    position: relative;
    text-align: center;
    color: white;
}

.textcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70rem;
    font-size: 2rem;
    text-align: center;
}

.save {
    padding: 0rem 3rem 0.5rem 3rem;
    font-size: 5rem;
    border-bottom: 0.4rem solid orangered;
    font-weight: lighter;
    margin: 0;
}

.read {
    padding: 0.5rem;
    position: relative;
    top: 2.9rem;
    font-size: 1.6rem;
}

.readbutton {
    border: 0.2rem solid transparent;
}

.infoform{
    position: relative;
    bottom: 15rem;
    left: 20rem;
    width: 15%;
    background-color: white;
    box-shadow: 1rem 2rem 0.9rem 0.5rem grey;
    border: 4rem solid white;
}
.infoform input[type=text], .infoform input[type=submit]{
    width: 80%;
    padding: 1.5rem;
    margin: 0.5rem 0 2.2rem 0;
    border: none;
    background: #f1f1f1;
  }
label{
    width: 100%;
    margin: 0.5rem 0 2.2rem 0;
    border: none;
    background: #fff;
    font-size: 1.4rem;
}

.message{
    width: 50%;
    position: relative;
    left: 60rem;
    bottom: 35rem;
    font-size: 2rem;
}

.leave{
    border-bottom: 0.4rem solid orangered;
    padding-bottom: 0.5rem;
}
card {
    margin: 1.5%;
    border-style: solid;
    border-width: 0.1rem;
    box-sizing: content-box;
    max-width: 20%;
    max-height: 15%;
    display: inline-block;
}

card h2 {
    display: inline;
}

.bottomlink{
    width: 100%;
    background-color:#333333;
}

ul{
    list-style: none outside;
}

.bottomelement{
    width: 80%;
    padding: 4rem 0 0 20rem;
    color: white;
    font-size: 2rem;
}

.aboutus{
    display: inline-block;
    width: 20%;
}

.about{
    border-bottom: 0.1rem solid orangered;
    padding-bottom: 0.2rem;
}

.discover{
    display: inline-block;
    width: 20%;
    position: relative;
    bottom: 2.4rem;
}

.dis{
    border-bottom: 0.1rem solid orangered;
    padding-bottom: 0.2rem;
}

.quicklink{
    display: inline-block;
    width:20%;
    position: relative;
    bottom: 2.4rem;
}

.quick{
    border-bottom: 0.1rem solid orangered;
    padding-bottom: 0.2rem;
}

.tags{
    display: inline-block;
    width:20%;
    position: relative;
    bottom: 4.5rem;
}

.tag{
    border-bottom: 0.1rem solid orangered;
    padding: 0 0.2rem 0.2rem 0.2rem;
}

.newsletter{
    background-color: orangered;
    height: 5.5rem;
    text-align: center;
    padding-top: 2rem;
}

.signup{
    display:inline;
    color: white;
    font-size: 2.4rem;
}

.subscribe{
    position: relative;
    left: 2rem;
    background: transparent;
    color: white;
    border: 0.11rem solid white;
    padding: 1rem 1.5rem 1rem 1.4rem;
}

.fornews{
    display: inline;
    padding: 0.5rem;
    margin: 0.5rem 0 2.2rem 0;
    border: none;
}

.fornews input[type=text]{
    width: 15%;
    padding: 0.5rem;
    border: none;
}

.copyright{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem 0 1.5rem 0;
}