html {
    font-size: 10px;
    font-family: "lato";
}

body {
    margin: 0;
}

.topnav{
    width: 100%;
    background-color: #333333;
}

header {
    width: 110rem;
    height: 5rem;
    font-size: 2rem;
}

header a {
    color: white;
}

.lessspace{
    word-spacing: 1rem;
}

.box {
    float: left;
    font-size: 1.7rem;
    word-spacing: 2.5rem;
    padding: 0 1.2rem 0 0.6rem;
    border-bottom: 0.3rem solid #f44121;
}

.boxright {
    font-size: 1.7rem;
    word-spacing: 3rem;
    float: right;
    padding: 0 1.2rem 0 0.6rem;
    border-bottom: 0.3rem solid #f44121;
}

a {
    text-decoration: none;
    color: black;
}

.navigation {
    width: 110rem;
    padding: 1.5rem 0 1.5rem 0;
}

.company {
    position: relative;
    bottom: 1.1rem;
    color: #f44121;
    display: inline;
    font-size: 2rem;
}

.nav1 {
    display: inline;
    background-color: white;
    font-size: 1.5rem;
    word-spacing: 4rem;
    padding: 0 5rem 0 14rem;
    text-align: center;
}

.navele {
    display: inline-block
}

.right {
    display: inline;
    position: relative;
    bottom: 1.1rem;
    border: 0.1rem solid #f44121;
    color: #f44121;
    font-size: 1.5rem;
    padding: 1.4rem;
}

.textcenter {
    position: relative;
    bottom: 55rem;
    color: white;
    width: 70rem;
    font-size: 2rem;
    text-align: center;
    border: 0.1rem white solid;
    border-bottom: none;
}

.readmore {
    position: relative;
    bottom: 57.6rem;
    color: white;
    width: 70rem;
    font-size: 2rem;
    text-align: center;
    border: none;
    border-top: 0.1rem white solid;
}

.save {
    padding: 0rem 3rem 0.5rem 3rem;
    font-size: 5rem;
    border-bottom: 0.4rem solid #f44121;
    font-weight: lighter;
    margin: 0;
}

.outer{
    border: 2.1rem solid transparent;
    background-color: transparent;
}

.read {
    border: 0.15rem white solid;
    color: white;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 1.5rem 2rem 1.2rem 2rem ;
}

.infoform {
    position: absolute;
    width: 28rem;
    padding: 4rem;
    background-color: white;
    box-shadow: 0.1rem 1rem 1.9rem -0.2rem #282828;
}

.formnmessage{
    width: 110rem;
    height: 40rem;
    position: relative;
    left: 35.52rem;
    bottom: 42rem;
}

.infoform input[type=text]{
    width: 23rem;
    padding: 1.5rem;
    margin: 0.5rem 0 2.2rem 0;
    border: none;
    background: #f1f1f1;
}

.infoform input[type=submit]{
    color: white;
    font-weight: bold;
    width: 26rem;
    padding: 1.5rem;
    margin: 0.5rem 0 2.2rem 0;
    border: none;
    background: #f44121;
}

label {
    width: 100%;
    margin: 0.5rem 0 2.2rem 0;
    border: none;
    background: #fff;
    font-size: 1.4rem;
}

.underline{
    border-bottom: 0.1rem solid #f44121;
    padding-bottom: 0.2rem;
}

.message {
    width: 75rem;
    position: absolute;
    top: 15rem;
    left: 40rem;
    font-size: 2rem;
}

.sixcards{
    width: 110rem;
    position: relative;
    bottom: 10rem;
    left: 7rem;
}

.iconborder{
    border: 0.2rem solid #f4f4f4;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    text-align: center;
    color: #f44121;
    position: relative;
    left: 2rem;
    top: 2rem;
}

.underlinecard{
    border-bottom: 0.1rem solid #f44121;
    padding-bottom: 0 0.5rem 0.3rem 0;
    position: relative;
    left: 9.5rem;
    bottom: 1.5rem;
}

.para{
    margin-top: 0;
    margin-left: 9rem;
    line-height: 2.8rem;
    color: grey;
    font-size: 1.6rem;
}

.card1 {
    border: 0.2rem solid #f4f4f4;
    position: relative;
    left: 30rem;
    bottom: 30rem;
    width: 33rem;
    height: 15.5rem;
    font-size: 2rem;
}

.card2 {
    border: 0.2rem solid #f4f4f4;
    position: relative;
    left: 67rem;
    bottom: 46rem;
    width: 33rem;
    height: 15.5rem;
    font-size: 2rem;
}

.card3 {
    border: 0.2rem solid #f4f4f4;
    position: relative;
    left: 104rem;
    bottom: 62rem;
    width: 33rem;
    height: 15.5rem;
    font-size: 2rem;
}

.card4 {
    border: 0.2rem solid #f4f4f4;
    position: relative;
    left: 30rem;
    bottom: 58rem;
    width: 33rem;
    height: 15.5rem;
    font-size: 2rem;
}

.card5 {
    border: 0.1rem solid #f44121;
    position: relative;
    left: 67rem;
    bottom: 74rem;
    width: 33rem;
    height: 15.5rem;
    font-size: 2rem;
}

.card5 .iconborder{
    background-color: #f44121;
}

.card6 {
    border: 0.2rem solid #f4f4f4;
    position: relative;
    left: 104rem;
    bottom: 90rem;
    width: 33rem;
    height: 15.5rem;
    font-size: 2rem;
}

.about {
    background-color: #f4f4f4;
    padding: 10rem 0 10rem 0;
    margin-top: -80rem;
}

.aboutus {
    text-align: center;
    position: relative;
    bottom: 5rem;
    line-height: 3.2rem;
    font-size: 1.5rem;
}

.heading{
    border-bottom: 0.2rem solid #f44121;
    font-size: 2.5rem;
    padding:0 0 2.5rem 0.5rem;
}

.aboutus .fa.fa-tint {
    padding: 1rem 2rem 1rem 2rem;
    border-top: 0.11rem solid #f44121;
    border-bottom: 0.11rem solid #f44121;
    color: #f44121;
    background-color: #f4f4f4;
    font-size: 2.2rem;
    position: relative;
    top: 4.2rem;
    right: 9.5rem;
}

.donation {
    width: 33.5rem;
    line-height: 3.1rem;
    font-size: 1.5rem;
    position: relative;
    left: 40rem;
    bottom: 27rem;
}

.fundrise {
    width: 33.5rem;
    line-height: 3.1rem;
    font-size: 1.5rem;
    position: relative;
    left: 40rem;
    bottom: 27rem;
}

.scholarship{
    width: 33.5rem;
    line-height: 3.1rem;
    font-size: 1.5rem;
    position: relative;
    left: 114rem;
    bottom: 54rem;
}

.volunter{
    width: 33.5rem;
    line-height: 3.1rem;
    font-size: 1.5rem;
    position: relative;
    left: 114rem;
    bottom: 54rem;
}

.ourcauses{
    margin-top: -50rem;
    background-color: white;
    padding-top: 2rem;
    margin-bottom: -110rem;
}

.ourcause {
    text-align: center;
    position: relative;
    top: 5rem;
    line-height: 3.2rem;
    font-size: 1.5rem;
}

.ourcause .fa.fa-tint {
    padding: 1rem 2rem 1rem 2rem;
    border-top: 0.11rem solid #f44121;
    border-bottom: 0.11rem solid #f44121;
    color: #f44121;
    background-color: white;
    font-size: 2.2rem;
    position: relative;
    top: 4.2rem;
    right: 11rem;
}

.causeimg{
    width: 33.2rem;
    margin-bottom: 1rem;
}

.donated{
    word-spacing: 18rem;
    position: relative;
    top: 9rem;
    left: 2.5rem;
    font-size: 1.5rem;
}

.amount{
    word-spacing: 18rem;
    position: relative;
    top: 8rem;
    left: 2.5rem;
    font-size: 1.3rem;
    color: #fe1800;
}

.feed1{
    border: 0.2rem solid #f4f4f4;
    position: relative;
    left: 40rem;
    top: 10rem;
    width: 33.2rem;
    height: 60rem;
}

.feed2{
    border: 0.2rem solid #f4f4f4;
    position: relative;
    left: 76rem;
    bottom: 50rem;
    width: 33.2rem;
    height: 60rem;
}

.feed3{
    border: 0.2rem solid #f4f4f4;
    position: relative;
    left: 113rem;
    bottom: 110.5rem;
    width: 33.2rem;
    height: 60rem;
}

.progressbar{
    accent-color: #f44121;
    position: relative;
    top: 5.4rem;
    left: 2.3rem;
    width: 27.5rem;
    height: 1.2rem;
  }

.triangle1{
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid transparent;
    margin-left: 12.5rem;
    margin-top: 3.2rem;
    border-bottom: 2rem solid #f44121;
    rotate: 180deg;
}

.prog1{
    color: white;
    position: absolute;
    border: 0rem solid;
    background-color: #f44121;
    width: 2.7rem;
    height: 2.1rem;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-left: 12rem;
    margin-top: 1.6rem;
}

.triangle2{
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid transparent;
    margin-left: 17.9rem;
    margin-top: 3.2rem;
    border-bottom: 2rem solid #f44121;
    rotate: 180deg;
}

.prog2{
    color: white;
    position: absolute;
    border: solid;
    background-color: #f44121;
    border-width: 0;
    width: 2.7rem;
    height: 2.1rem;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-left: 17.4rem;
    margin-top: 1.6rem;
}

.triangle3{
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid transparent;
    margin-left: 23.4rem;
    margin-top: 3.2rem;
    border-bottom: 2rem solid #f44121;
    rotate: 180deg;
}

.prog3{
    color: white;
    position: absolute;
    border: solid;
    background-color: #f44121;
    border-width: 0;
    width: 2.7rem;
    height: 2.1rem;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-left: 22.9rem;
    margin-top: 1.8rem;
}

.insideheart{
    width: 110rem;
    height: 40rem;
    position: relative;
    left: 40.5rem;
}

.heart {
    background-color: black;
    margin-top: 6.5rem;
    padding-top: 8.5rem;
}

.video {
    position: relative;
    bottom: 33rem;
    filter: brightness(0.5);
}

.play {
    position: relative;
    left: -35rem;
    bottom: 45rem;
}

.heartheading {
    color: white;
    position: relative;
    left: 59rem;
    font-size: 1.8rem;
}

.heart .para1{
    color: white;
    position: relative;
    width: 48rem;
    left: 59rem;
    top: 1rem;
    line-height: 3rem;
    font-size: 1.4rem;
}

.heart .para2{
    color: white;
    position: relative;
    width: 48rem;
    left: 59rem;
    top: 1rem;
    line-height: 3rem;
    font-size: 1.4rem;
}

.ourgallery {
    text-align: center;
    position: relative;
    bottom: 00rem;
    line-height: 3.2rem;
    font-size: 1.5rem;
    padding-top: 4rem;
}

.ourgallery .fa.fa-tint{
    padding: 1rem 2rem 1rem 2rem;
    border-top: 0.11rem solid #f44121;
    border-bottom: 0.11rem solid #f44121;
    color: #f44121;
    background-color: white;
    font-size: 2.2rem;
    position: relative;
    top: 4.2rem;
    right: 11rem;
}

.gallery .fa.fa-picture-o{
    position: absolute;
    color: white;
    margin-left: -77rem;
    margin-top: 23rem;
    font-size: 3rem;
}

.gallery1 {
    width: 58rem;
    height: 49rem;
    margin-right: -0.4rem;
}

.gallery2 {
    width: 33rem;
    height: 25.9rem;
    margin-bottom: 23.1rem;
}

.gallery3 {
    width: 33rem;
    height: 23.1rem;
    margin-left: -33.4rem;
    margin-right: -0.4rem;
}

.gallery4 {
    width: 32rem;
    height: 49rem;
    margin-right: -0.4rem;
    filter: brightness(0.5);
}

.gallery5 {
    margin-bottom: 24rem;
    width: 60rem;
    margin-left: 0rem;
    height: 25rem;
}

.gallery6 {
    margin-left: -60rem;
    position: absolute;
    margin-top: 25rem;
    width: 60rem;
    height: 24rem;
}

.volunteer {
    margin-bottom: -1rem;
    padding-top: 4rem;
    text-align: center;
    background-color: #f4f4f4
}

.volunteer .fa.fa-tint{
    padding: 1rem 2rem 1rem 2rem;
    border-top: 0.11rem solid #f44121;
    border-bottom: 0.11rem solid #f44121;
    color: #f44121;
    background-color: #f4f4f4;
    font-size: 2.2rem;
    position: relative;
    top: -1.8rem;
}

.cards{
    display: flex;
    margin-top: 13rem;
    margin-left: 37rem;
    gap: 3.5rem;
}

.cardimage{
    width:24.4rem;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.cardimage1{
    width: 22.4rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-shadow: 0.01rem 0.01rem 0.5rem 0.05rem silver;
}

.profileimage{
    width: 18.5rem;
    height: 17rem;
    margin-top: -8rem;
}

.cards h1{
    font-size: 2rem;
    color: #333;
    margin: 2.4rem;
    margin-top: 4rem;
    margin-bottom: 0.64rem;
}

.cards p{
    margin-bottom: 3.2rem;
    margin-top: 0.5rem;
    color: grey;
}

.social-media{
    width: 16.5rem;
    margin-top: 2.5rem;
    border-top: 0.1rem solid #f1f1f1;
    padding-bottom: 4rem;
    padding-top: 2.5rem;
    padding-right: 0.5rem;
    text-align: center;
    word-spacing: 2rem;
}

.dot1{
    position: relative;
    left: -2rem;
    bottom: 8rem;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 85%;
    display: inline-block;
    border: 0.1rem solid #f44121;
    background-color: #f44121;
    margin-top: 10rem;
}

.dot2{
    position: relative;
    left: 0rem;
    bottom: 8rem;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 85%;
    display: inline-block;
    border: 0.1rem solid red;
}

.fa.fa-chevron-circle-up{
    color: orangered;
    font-size: 5rem;
    position: absolute;
    margin-left: 148rem;
    margin-top: -3.2rem;
}

.bottomlink {
    margin-bottom: -1rem;
    width: 100%;
    background-color: #333333;
}

ul {
    list-style: none outside;
    padding: 3rem 0 0 0;
}

.bottomelement {
    width: 110rem;
    padding: 6rem 0 5rem 37.5rem;
    color: white;
    font-size: 1.6rem;
}

.aboutusb {
    display: inline-block;
    width: 21%;
}

hr{
   opacity: 0.2; 
}

.discover {
    display: inline-block;
    width: 23%;
    position: relative;
    bottom: 3.9rem;
    padding-left: 4rem;
}

.quicklink {
    display: inline-block;
    width: 20%;
    position: relative;
    bottom: 3.9rem;
    padding-left: 4rem;
}

.tags {
    display: inline-block;
    width: 23%;
    position: relative;
    bottom: 5.5rem;
    padding-left: 4rem;
}

.tags li{
    border: 0.1rem solid white;
    display: inline;
    padding: 0.8rem;
}

.newsletter {
    background-color: #f44121;
    height: 5.5rem;
    text-align: center;
    padding-top: 2rem;
}

.signup {
    display: inline;
    color: white;
    font-size: 2.4rem;
}

.subscribe {
    position: relative;
    left: 2rem;
    background: transparent;
    color: white;
    border: 0.11rem solid white;
    padding: 1rem 1.5rem 1rem 1.4rem;
}

.fornews {
    display: inline;
    padding: 0.5rem;
    margin: 0.5rem 0 2.2rem 0;
    border: none;
}

.fornews input[type=text] {
    width: 15%;
    padding: 0.5rem;
    border: none;
}

.copyright {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem 0 1.5rem 0;
}

@media only screen and (max-width: 62rem) {
    * {
      width: 100%;
    }
  }